npm-debug.log
yarn-error.log
webpack.config.js
CODE_OF_CONDUCT.md
.eslintrc.json
.gitignore
.npmignore
.travis.yml
.vscode/

/demo/
/src/
/coverage/
/.github/
/node_modules/

__snapshots__
*.spec.js
*.spec.js.snap
